* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Gill Sans", sans-serif;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  width: 420px;
  height: 340px;
  margin: 1em;
  perspective: 1500px;
}
.card .content {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
}

.more {
  display: none;
}
.more:checked ~ .content {
  transform: rotateY(180deg);
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 6px;
}
.front .inner,
.back .inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
}

.front {
  background-color: #fff;
  background-size: cover;
  background-position: fixed fixed;
}
.front:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 6px;
  backface-visibility: hidden;
}
.front .inner {
  grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
  justify-items: center;
}
.front h2 {
  grid-row: 1;
  margin-bottom: -1.5em;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #fff;
  font-family: learning curve;
  font-weight: 500;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

.back {
  transform: rotateY(180deg);
  background-color: #fdfdfd;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  color: #2d2d2d;
}
.back .inner {
  height: 100%;
  display: grid;
  padding: 1.5em;
  transform: translateZ(80px) scale(0.94);
  grid-template-rows: auto auto 1fr auto auto auto;
  row-gap: 0.8em;
  background-color: #EBECF0;
  border-radius: 6px;
}
.back .info {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-weight: 600;
  color: #808000;
  font-size: 1em;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.3em;
}
.back .info span {
  font-weight: bold;
}
.back .icon span {
  font-size: 0.9em;
  color: #2d2d2d;
}
.back .description {
  font-size: 0.95em;
  line-height: 1.6em;
  color: #2d2d2d;
  font-weight: 500;
  overflow-y: auto;
  max-height: 160px;
  padding-right: 5px;
}
.back .Recommendation {
  font-weight: bold;
  color: #808000;
  font-size: 1em;
  text-transform: uppercase;
}
.back .Types {
  font-style: italic;
  color: #2d2d2d;
  font-size: 0.9em;
  margin-bottom: 0.5em;
}
.back .Quote {
  font-size: 1.1em;
  font-weight: 600;
  text-align: center;
  color: #808000;
  font-style: italic;
  margin-top: 0.5em;
}
.back .button {
  grid-column: 1/-1;
  justify-self: center;
}

.button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  border: solid 2px #fff;
  color: #fff;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}
.button:hover {
  background-color: #fff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  text-shadow: none;
  color: #808000;
}
.button.return {
  line-height: 3em;
  color: #808000;
  border-color: #808000;
  text-shadow: none;
}
.button.return:hover {
  background-color: #808000;
  color: #fff;
  box-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #a9b84d;
}

::-webkit-scrollbar-thumb:hover {
  background: #808000;
}